---
import { Icon } from "astro-icon/components";

interface DegreeData {
  title: string;
  duration: string;
  description: string;
  campus: string[];
}

interface DegreeHorizontalProps {
  data: DegreeData;
}

const { data } = Astro.props as DegreeHorizontalProps;
const { title, duration, description, campus } = data;
---

<li>
  <div class="programme-row">

  <div class="line"></div>

  <div class="left">

    <div class="col-1">
      <div class="title-wrapper">
        <h2 class="headline-lg color-white">{title}</h2>
        <div>
          <span class="headline-md">[</span>
          <span class="headline-md span-strong">{duration}</span>
          <span class="headline-md">]</span>
        </div>

      </div>
        <p class="body-md description">{description}</p>
    </div>

      <div class="col-2">
        {
          campus.map((camp) => (
            <div class="tag">{camp} <Icon name="mdi:arrow-top-right" class="icon"/></div>
          ))
        }
   </div>
  </div>

    <!-- <Icon name="icon--arrow-thin" size={48} /> -->

</div>
</li>

<style>
  
  
  .programme-row {
    position: relative;
    display: flex;
    flex-direction: row;
    text-decoration: none;  
    color: var(--color-purple-200);
    gap: var(--space-m);
    border-top: 1px solid var(--color-purple-600);
    padding-top: var(--space-s);
    padding-bottom: var(--space-2xl);
    align-items: top;  }


  .line {
    height: 2px;
    position: absolute;
    width: 0%;
    background-color: var(--color-white);
    transition: width 0.3s;
    top: 0;
    left: 0;
  }


  .title-wrapper {
    display: inline-flex;
    gap: var(--space-xs);
    
    align-items: center;
    span {
      font-weight: var(--font-light);
      color: var(--color-purple-400);
    }

    .span-strong {
      color: var(--color-purple-200);
    }
  }

  .description {
    max-width: 40ch;
    text-wrap: pretty;
  }

  .left {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-xs);

    @media screen and (max-width: 810px) {
      flex-direction: column;
      
    }
  }

  .col-1 {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    align-items: flex-start;
  }

  .col-2 {
    display: flex;
    gap: var(--space-2xs);
    align-items: center;

  }

  .tag {
    font-size: var(--font-size-xs);
    height: var(--size-button-l);
    background-color: var(--color-purple-600);
    padding-left: var(--space-s);
    padding-right: var(--space-xs);
    /* border: 1px solid var(--color-purple-400); */
    border-radius: 100px;
    color: var(--color-white);
    justify-self: start;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    cursor: pointer;
  }




  .tag:hover {
    background-color: var(--color-purple-500);
    /* border: 1px solid var(--color-white); */

  }
</style>