<footer>
  <p class="body-md color-purple-300">Fancy Footer</p>
</footer>

<style>
  footer {
    height: 400px;
    background-color: var(--color-purple-800);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>