---
import { Icon } from "astro-icon/components";
---

<section class="section-side hero-section">
  
  <div class="container-row">

    <div class="hero-text">
      <h1 class="headline-2xl">Computer and Machine Intelligence</h1>
      <p class="body-md color-purple-200">This is where machines meet humans, and vice versa. Good interaction design of our digital surroundings is imperative to their functionality. The department of Interaction Design is led by internationally renowned creative UXD duo Irene Pereyra and Anton Repponen.</p>
    </div>

    <Icon name="badge--dm-600" class="icon" size="100%"/>

  </div>
</section>

<style>
 .hero-section {
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-2xl);
    /* border-bottom: 1px solid var(--color-purple-700);
    background-image:  url('../../assets/pattern-dark-new.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 20vh; */ 
    margin-top: 80px;
    
  }
  
  .container-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-2xl);
    max-width: 1824px;
    margin: auto;
    align-items: center;
  }
  
  .icon {
    width: var(--space-5xl);
    padding: 0;
    margin: 0;
  }


  .hero-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    /* align-items: center;
    text-align: center; */
    h1 {
      text-wrap: balance;
      max-width: 20ch;
    }
  }

  @media screen and (max-width: 810px) {

    .container-row {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .hero-section {
      margin-top: 96px;
    }

    .icon {
      width: 88px;
      height: 88px;
      position: absolute;
      right: 20px;
      top: 112px;
    }
  }


</style>