---
import { Icon } from 'astro-icon/components';

interface Props {
  surface?: "white" | "dark";
}



const { surface, ...rest } = Astro.props;
---


<button 
  class:list={["btn heading-5xl", surface]} 
  id="open-menu"
  aria-expanded="false"
  aria-controls="mobile-nav"
  {...rest} 
>
  <Icon name="mdi:menu" class="icon" />
</button>

<style>
  .btn {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: var(--size-button-l);
    width: var(--size-button-l);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100px;
  }


  .icon {
    font-size: var(--font-size-xl);
  }


  .white {
    color: var(--color-black);
  }

  .white:hover {
    background-color: var(--color-gray-100);
  }

  .dark {
    color: var(--color-white);
  }

  .dark:hover {
    background-color: var(--color-purple-600);
  }
  
  @media(max-width: 810px) {
    .btn {
      display: flex;
    }
  }
</style>