---

---

<section class="hero-section">
  <div class="wrapper">
    <h1 class="headline-4xl">Programmes</h1>
  </div>
</section>

<style>
  .hero-section {
    margin-top: 80px;
    background-color: var(--color-purple-800);
    color: var(--color-white);
    padding: var(--space-l) var(--space-s-m);

  }

  .wrapper {
    max-width: 1824px;
    margin: 0 auto;
  }

  @media (max-width: 810px) {
    .hero-section {
      margin-top: 64px;
    }
</style>
