---
import { Icon } from 'astro-icon/components';

export interface SelectOption {
  value: string;
  label: string;
  selected?: boolean;
}

interface Props {
  id: string;
  options: SelectOption[];
}

const { id, options } = Astro.props;
---

<div class="select-filter body-sm">
  <select {id}>
    {options.map(({ value, label, selected }) => (
      <option value={value} selected={selected}>
        {label}
      </option>
    ))}
  </select>
  <Icon name="mdi:chevron-down" class="select-filter-icon" />
</div>

<style>
  .select-filter {
    position: relative;
    justify-self: left;
  }

  select {
    padding: var(--space-3xs) var(--space-m) var(--space-3xs) var(--space-xs);
    height: var(--size-button-m);
    border: 1px solid transparent;
    border-radius: 500px;
    background-color: var(--color-purple-800);
    color: var(--color-white);
    font-size: var(--font-size-base);
    cursor: pointer;
    appearance: none;
    width: 100%;
    transition: all 0.2s ease-in;
  }

  select:hover {
    border: 1px solid transparent;
    background-color: var(--color-purple-700);
  }

  .select-filter-icon {
    position: absolute;
    right: var(--space-2xs);
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-white);
    pointer-events: none;
  }

  @media (max-width: 810px) {
    select {
      width: 100%;
      border-radius: 8px;
    }
  }
</style> 