@import url("./reset.css");

@font-face {
  font-family: "Apercu Pro";
  src: url("/fonts/ApercuPro-Light.woff2") format("woff2"),
    url("/fonts/ApercuPro-Light.woff") format("woff"),
    url("/fonts/ApercuPro-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("/fonts/ApercuPro-Medium.woff2") format("woff2"),
    url("/fonts/ApercuPro-Medium.woff") format("woff"),
    url("/fonts/ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

:root {
  /* colors */

  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-white-10: rgba(255, 255, 255, 0.1);

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;
  --color-black: #030712;

  --color-purple-50: #efeeff;
  --color-purple-100: #dedcff;
  --color-purple-200: #cac5ff;
  --color-purple-300: #b3aaff;
  --color-purple-400: #9d8cff;
  --color-purple-500: #8869fd;
  --color-purple-600: #7346ef;
  --color-purple-700: #5d35c4;
  --color-purple-800: #462b94;
  --color-purple-900: #312067;
  --color-purple-950: #1e1440;

  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-300: #6ee7b7;
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065f46;
  --color-green-900: #064e3b;
  --color-green-950: #022c22;

  --color-muted-700: hsl(from var(--color-purple-700) h calc(s * 0.9) l);

  --white-70: rgba(255, 255, 255, 0.7);

  /* spaces */
  --space-3xs: clamp(0.25rem, 0.18rem + 0.2667vw, 0.5rem);
  --space-2xs: clamp(0.5rem, 0.36rem + 0.5333vw, 1rem);
  --space-xs: clamp(0.75rem, 0.54rem + 0.8vw, 1.5rem);
  --space-s: clamp(1rem, 0.72rem + 1.0667vw, 2rem);
  --space-m: clamp(1.5rem, 1.08rem + 1.6vw, 3rem);
  --space-l: clamp(2rem, 1.44rem + 2.1333vw, 4rem);
  --space-xl: clamp(2.5rem, 1.8rem + 2.6667vw, 5rem);
  --space-2xl: clamp(3rem, 2.16rem + 3.2vw, 6rem);
  --space-3xl: clamp(4rem, 2.88rem + 4.2667vw, 8rem);
  --space-4xl: clamp(5rem, 3.6rem + 5.3333vw, 10rem);
  --space-5xl: clamp(8rem, 5.76rem + 8.5333vw, 16rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.04rem + 0.8vw, 1rem);
  --space-2xs-xs: clamp(0.5rem, 0.22rem + 1.0667vw, 1.5rem);
  --space-xs-s: clamp(0.75rem, 0.4rem + 1.3333vw, 2rem);
  --space-s-m: clamp(1rem, 0.44rem + 2.1333vw, 3rem);
  --space-m-l: clamp(1.5rem, 0.8rem + 2.6667vw, 4rem);
  --space-l-xl: clamp(2rem, 1.16rem + 3.2vw, 5rem);
  --space-xl-2xl: clamp(2.5rem, 1.52rem + 3.7333vw, 6rem);
  --space-2xl-3xl: clamp(3rem, 1.6rem + 5.3333vw, 8rem);
  --space-3xl-4xl: clamp(4rem, 2.32rem + 6.4vw, 10rem);
  --space-4xl-5xl: clamp(5rem, 1.92rem + 11.7333vw, 16rem);

  /* Custom pairs */
  --space-xl-3xl: clamp(2.5rem, 0.96rem + 5.8667vw, 8rem);
  --space-m-3xl: clamp(1.5rem, -0.32rem + 6.9333vw, 8rem);
  --space-gap: clamp(2.125rem, -13.0192rem + 20.1923vw, 10rem);

  /* Heights */
  --size-button-s: clamp(2rem, 1.8504rem + 0.5698vw, 2.5rem);
  --size-button-m: clamp(2rem, 1.7009rem + 1.1396vw, 3rem);
  --size-button-l: clamp(2.5rem, 2.2009rem + 1.1396vw, 3.5rem);

  /* font sizes */
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-2xs: clamp(0.625rem, 0.555rem + 0.2667vw, 0.875rem);
  --font-size-xs: clamp(0.75rem, 0.68rem + 0.2667vw, 1rem);
  --font-size-sm: clamp(0.875rem, 0.805rem + 0.2667vw, 1.125rem);
  --font-size-md: clamp(1rem, 0.895rem + 0.4vw, 1.375rem);
  --font-size-lg: clamp(1.125rem, 0.88rem + 0.9333vw, 2rem);
  --font-size-xl: clamp(1.25rem, 0.9rem + 1.3333vw, 2.5rem);
  --font-size-2xl: clamp(1.5rem, 0.94rem + 2.1333vw, 3.5rem);
  --font-size-3xl: clamp(1.75rem, 0.84rem + 3.4667vw, 5rem);
  --font-size-4xl: clamp(2.25rem, 0.92rem + 5.0667vw, 7rem);
  --font-size-5xl: clamp(2.625rem, 0.21rem + 9.2vw, 11.25rem);

  /* font weights */
  --font-light: 300;
  --font-medium: 500;

  /* line-heights */
  --leading-none: 1;
  --leading-tight: 1.15;
  --leading-snug: 1.25;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /* letter spacing */
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;
}

body {
  font-family: "Apercu Pro", sans-serif;
  /* font styles */

  .detail-12 {
    font-weight: var(--font-light);
    font-size: var(--font-size-12);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .detail-14 {
    font-weight: var(--font-light);
    font-size: var(--font-size-14);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-16 {
    font-weight: var(--font-light);
    font-size: var(--font-size-16);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-18 {
    font-weight: var(--font-light);
    font-size: var(--font-size-18);
    line-height: var(--leading-normal);
  }

  .detail-2xs {
    font-weight: var(--font-light);
    font-size: var(--font-size-2xs);
    line-height: var(--leading-none);
    letter-spacing: var(--tracking-normal);
  }

  .body-xs {
    font-weight: var(--font-light);
    font-size: var(--font-size-xs);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-sm {
    font-weight: var(--font-light);
    font-size: var(--font-size-sm);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-md {
    font-weight: var(--font-light);
    font-size: var(--font-size-md);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-lg {
    font-weight: var(--font-light);
    font-size: var(--font-size-lg);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-xl {
    font-weight: var(--font-light);
    font-size: var(--font-size-xl);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-normal);
  }

  .body-2xl {
    font-weight: var(--font-light);
    font-size: var(--font-size-2xl);
    line-height: var(--leading-normal);
    letter-spacing: var(--tracking-widest);
  }

  .headline-2xs {
    font-weight: var(--font-medium);
    font-size: var(--font-size-2xs);
    line-height: var(--leading-none);
    letter-spacing: var(--tracking-widest);
  }

  .headline-xs {
    font-weight: var(--font-medium);
    font-size: var(--font-size-xs);
    line-height: var(--leading-none);
    letter-spacing: var(--tracking-normal);
  }

  .headline-sm {
    font-weight: var(--font-medium);
    font-size: var(--font-size-sm);
    line-height: var(--leading-snug);
    letter-spacing: var(--tracking-normal);
  }

  .headline-md {
    font-weight: var(--font-medium);
    font-size: var(--font-size-md);
    line-height: var(--leading-snug);
    letter-spacing: var(--tracking-normal);
  }

  .headline-lg {
    font-weight: var(--font-medium);
    font-size: var(--font-size-lg);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-normal);
  }

  .headline-xl {
    font-weight: var(--font-medium);
    font-size: var(--font-size-xl);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-normal);
  }

  .headline-2xl {
    font-weight: var(--font-medium);
    font-size: var(--font-size-2xl);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-normal);
  }

  .headline-3xl {
    font-weight: var(--font-medium);
    font-size: var(--font-size-3xl);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-normal);
  }

  .headline-4xl {
    font-weight: var(--font-medium);
    font-size: var(--font-size-4xl);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-normal);
  }

  .headline-5xl {
    font-weight: var(--font-medium);
    font-size: var(--font-size-5xl);
    line-height: var(--leading-tight);
    letter-spacing: var(--tracking-normal);
  }

  .eyebrow-text {
    font-weight: var(--font-medium);
    font-size: var(--font-size-xs);
    line-height: var(--leading-none);
    letter-spacing: var(--tracking-wider);
  }

  p {
    max-width: 70ch;
  }

  .color-white {
    color: var(--color-white);
  }
  .color-gray-50 {
    color: var(--color-gray-50);
  }
  .color-gray-100 {
    color: var(--color-gray-100);
  }
  .color-gray-200 {
    color: var(--color-gray-200);
  }
  .color-gray-300 {
    color: var(--color-gray-300);
  }
  .color-gray-400 {
    color: var(--color-gray-400);
  }
  .color-gray-500 {
    color: var(--color-gray-500);
  }
  .color-gray-600 {
    color: var(--color-gray-600);
  }
  .color-gray-700 {
    color: var(--color-gray-700);
  }
  .color-gray-800 {
    color: var(--color-gray-800);
  }
  .color-gray-900 {
    color: var(--color-gray-900);
  }
  .color-gray-950 {
    color: var(--color-gray-950);
  }
  .color-black {
    color: var(--color-black);
  }
  .color-purple-50 {
    color: var(--color-purple-50);
  }
  .color-purple-100 {
    color: var(--color-purple-100);
  }
  .color-purple-200 {
    color: var(--color-purple-200);
  }
  .color-purple-300 {
    color: var(--color-purple-300);
  }
  .color-purple-400 {
    color: var(--color-purple-400);
  }
  .color-purple-500 {
    color: var(--color-purple-500);
  }
  .color-purple-600 {
    color: var(--color-purple-600);
  }
  .color-purple-700 {
    color: var(--color-purple-700);
  }
  .color-purple-800 {
    color: var(--color-purple-800);
  }
  .color-purple-900 {
    color: var(--color-purple-900);
  }
  .color-purple-950 {
    color: var(--color-purple-950);
  }
}
