---
import { getCollection } from "astro:content";
import Navigation from "../components/DegreeHub/nav.astro";
import Footer from "../components/ProgrammeHub/Footer.astro";
import QuickNav from "../components/ProgrammeHub/QuickNav.astro";
import Filters from "../components/ProgrammeHub/Filters.astro";
import { Icon } from "astro-icon/components";
import HubHero from "../components/ProgrammeHub/HubHero.astro";
import DegreeHorizontal from "../components/ProgrammeHub/DegreeHorizontal.astro";
import Layout from "../layouts/Layout.astro";
import Bar from "../components/DropdownMenu/components/Bar.astro";

const degrees = await getCollection("degrees");

// console.log(degrees);
---

<Layout>
  <Bar surface="dark"/>
  <div class="container">
    <div class="content">
      <HubHero />
      <Filters/>
      <ul>
        {
          degrees.map(({data}) => (
            <DegreeHorizontal data={data} />
          ))
        }
        </ul>
      </div>
      <QuickNav />
  </div>
<Footer/>

</Layout>


<style>
  body {
    color: var(--color-white);
    background-color: var(--color-purple-700);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: var(--space-gap);
    padding-inline: var(--space-s-m);
    padding-bottom: var(--space-2xl);
    max-width: 1824px;
    margin: auto;
  }

  .content {
    width: 100%;
    gap: var(--space-xl);
  }


</style>