---
import Bar from "../components/Navigation/Bar/Bar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Bar mode="dark" banner={{ text: 'Banner text', link: { text: 'Learn More', href: '#' } }} />
  <section class="dark">
    <h1>Navigation</h1>
  </section>
  <section>
    <h1>Navigation</h1>
  </section>
  <section>
    <h1>Navigation</h1>
  </section>
</Layout>

<style>
  body {
    background-color: var(--color-purple-800);
  }

  section {
    padding: 2rem;
    min-height: calc(150vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
  }

  .dark {
    background-color: var(--color-purple-800);
  }
</style>
