---
const { tag, detail} = Astro.props;
---

<div class="details">
  <p class="body-sm tag">
    {tag}
  </p>
  <p class="headline-md detail">
    {detail}
  </p>
</div>

<style>
  .details {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
    align-items: center;
    padding: var(--space-xs) 0 var(--space-2xs) 0;
    border-right : 1px solid var(--color-gray-200);
  }

  :last-child {
    border-right: none;
  }

  .tag {
    color: var(--color-gray-500);
  }

  .detail {
    color: var(--color-black);
  }
</style>