---

---

<section>
  <h1 class="headline-5xl">Data Science</h1>
  <p class="body-lg">A full-time Master’s taught by experts in the heart of Barcelona.</p>
</section>

<style>
  section {
    padding-block: var(--space-m-xl);
    /* background-color: var(--color-purple-100); */
  }
</style>