---
import DetailBar from "./DetailBar.astro";
import SideBarMinimal from "./SideBarMinimal.astro";



const sections = [
  { id: "overview", title: "Overview" },
  { id: "method", title: "Our Method" },
  { id: "results", title: "Career Results" },
  { id: "curriculum", title: "Curriculum" },
  { id: "faculty", title: "Faculty" },
  { id: "alumni", title: "Alumni" },
  { id: "modes", title: "Modes of Study" },
  { id: "campus", title: "Campus" },
  { id: "pricing", title: "Tuition & Fees" },
  { id: "process", title: "Admissions" },


];

---

<main class="main-section">
  <div class="container container-main">
    <DetailBar/>
    <SideBarMinimal sections={sections} />
    <div class="content">
      <slot/>
    </div>
  </div>
</main>

<style>
  .main-section {
    padding: 0 var(--space-m-xl) var(--space-3xl) var(--space-m-xl);
    background-color: var(--color-white);
    min-height: 3000px;
  }
  
  .container-main {
    max-width: 1824px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas:
      "detail detail"
      "sidebar content";
    gap: var(--space-2xl);
    row-gap: var(--space-2xl);
    /* border-top: 1px solid var(--color-gray-200); */
    
  }

  .content {
    flex-grow: 1;
    grid-area: content;
    /* border-top: 1px solid var(--color-gray-200); */
  }


  @media (max-width: 1359px) {
    .container-main {
     display: grid; 
     grid-template-columns: 1fr;
     grid-template-areas: 
       "sidebar"
        "detail"
       "content";
    }
  }
</style>