---
import {Image} from "astro:assets";
import OverviewPic from "../../assets/ID-Overview.jpeg";
import DetailBar from "./DetailBar.astro";
---

<section>
  <div class="container">
    <!-- <DetailBar/>  -->
    <Image src={OverviewPic} alt="Interaction Design Overview" class="placeholder" loading="lazy" />
    <p class="body-xl highlight">Designing how humans interact with technology — today and in a future shaped by AI, automation, and emerging interfaces.</p>
    <p class="body-md intro">
      Interaction Design is about more than aesthetics — it’s about shaping how people experience and navigate the digital world. From apps and websites to emerging technologies like voice, AI, and spatial interfaces, interaction designers turn complexity into clarity and make tech feel human.
      <br><br>
      As artificial intelligence transforms how products are built and used, the role of the designer is evolving — but not disappearing. This programme teaches you timeless skills like user research, prototyping, and design systems, while preparing you to collaborate with and design for intelligent technologies.
    </p>
 </div>

</section>

<style>
  section {
    padding-bottom: var(--space-l);
    max-width: 1080px;
  }

  .intro {
    /* max-width: 680px; */
    max-width: none;
    justify-self: left;
    color: var(--color-gray-700);
    columns: 2;
    column-gap: var(--space-m-xl);
  }

  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    
  }

  .highlight {
    color: var(--color-black);
  }

  .placeholder {
    aspect-ratio: 16/9;
    height: auto;
  }


</style>