---
interface Props {
  title: string;
  subtitle: string;
  intro: string;
}

const { title, subtitle, intro, } = Astro.props;
---

<section>
  <div class="top">
    <div class="title-bar">
      <h2 class= "title">{title}</h2>
    </div>
    <p class="headline-2xl subtitle">{subtitle}</p>
    <p class="body-md intro">{intro}</p>
  </div>
  <slot/>
</section>

<style>
  section {
    padding: 0 0 var(--space-3xl) 0;
    /* border-top: 1px solid var(--color-gray-200); */
    container-name: section;
    container-type: inline-size;
    max-width: 1080px;
  }

  .top {
    display: flex;
    flex-direction: column;
  }

  .title-bar {
    display: flex;
    grid-column: 1 / -1;
    border-top: 1px solid var(--color-gray-200);
    padding-top: var(--space-xs);
    text-transform: uppercase;
  }

  .title {
    grid-column: 1 / -1;
    margin-bottom: var(--space-3xs);
    color: var(--color-purple-700);
    font-weight: var(--font-medium);
    font-size: var(--font-size-sm);
    letter-spacing: var(--tracking-widest);
  }

  .intro { 
    /* max-width: 620px; */
    justify-self: right;
    color:  var(--color-gray-700);
  }

  @container section (width < 1200px) {
    .top {
      display: flex;
      flex-direction: column;
    }


    .subtitle {
      margin-bottom: var(--space-xs);
    }
  }
</style>