---
import Button from './Button.astro';
import Details from './Details.astro';

interface SectionLink {
  id: string;
  title: string;
}

interface Props {
  sections: SectionLink[];
}

const { sections = [] } = Astro.props;
---

<aside class="sidebar">

  <div class="start-date">
    <div class="top">
      <p class="headline-md">Intake every 3 Weeks</p>
      <p class="body-xs color-purple-500">Applications open Year Round</p>
    </div>
      <nav>
    <ul>
      {
        sections.map((section) => (
          <li>
            <a href={`#${section.id}`} class="nav-link body-xs">
              {section.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
    <div class="buttons">
      <Button classList={["primary"]}>Book a Call</Button>
      <Button>Apply Now</Button>
      <Button>Download Brochure</Button>
    </div>
  </div>
</aside>

<style>


  .start-date {
    position: sticky;
    top: var(--space-s);
    display: flex;
    flex-direction: column;
    /* gap: var(--space-s); */
    /* border-bottom: 2px solid var(--color-black); */
    padding: var(--space-m) var(--space-s) var(--space-s) var(--space-s);
    border: solid 1px var(--color-gray-200);
    background-color: var(--color-gray-50);
    border-radius: 8px;
    gap: var(--space-s);
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
    
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }

  nav {
    width: 100%;
    aspect-ratio: 1/1;
    /* background-color: var(--color-gray-50); */
    border-radius: 8px;
    min-width: 280px;
  }

 
  ul {
    list-style: none;
    /* padding: var(--space-s); */
    margin: 0;
    padding: 0;;
  }
  li {
    height: 40px;
    display: flex;
    align-items: center;
    border-left: solid 1px var(--color-gray-200);
    padding-left: var(--space-2xs);
  }
  .nav-link {
    color: var(--color-gray-400);
    text-decoration: none;
    font-weight: 500;
    border-radius: var(--radius-m);
    transition: background-color 0.3s ease;
    white-space: nowrap;
  }

  @media (max-width: 1359px) {
    nav{
      display: none;
    }
  }
</style>