---

---

<button 
  type="button" 
  class="menu-button" 
  data-menu-button
  aria-expanded="false"
  aria-controls="side-navigation"
  aria-label="Toggle navigation menu"
>
  Menu
</button>

<style>
  .menu-button {
    position: relative;
    z-index: 1150;
    background-color: var(--color-purple-800);
  }
</style>