.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.navigation-bar.dark {
  color: white;
}

.navigation-bar.light {
  background-color: white;
  color: var(--color-gray-900);
}

.bar-wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 var(--space-s-m);
  position: relative;
}

.nav-background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  background-color: var(--color-white);
  z-index: -1;
}

.logo-container {
  position: relative;
  width: 180px;
}

.logo {
  width: auto;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
}

/* Initial states based on mode */
.navigation-bar.light .logo-purple {
  opacity: 1;
}

.navigation-bar.dark .logo-white {
  opacity: 1;
}

.bar-buttons {
  position: relative;
  z-index: 1002;
}
