---
import type { Course } from './data/curriculum';

interface Props {
  course: Course;
}

const { course } = Astro.props;
---

<div class="accordion">
  <button class="accordion-header">
    <div class="course-info">
      <h4 class="headline-md title">{course.title}</h4>
      <span class="credits body-xs">{course.credits} ECTS</span>
      <div class="icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
  </button>
  <div class="accordion-content">
    <p class="body-sm">{course.description}</p>
  </div>
</div>

<style>
  .accordion {
    border-bottom: 1px dashed var(--color-gray-200);
    overflow: hidden;
  }

  .accordion-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xs) 0;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
  }

  .course-info {
    display: flex;
    align-items: center;
    width: 100%;
    gap: var(--space-s);
  }

  .title {
    flex-grow: 1;
    /* color: var(--color-purple-600); */
  }

  .credits {
    color: var(--color-gray-500);
  }

  .icon {
    transition: transform 0.3s ease;
    color: var(--color-purple-600);
  }

  .accordion-content {
    max-height: 0;
    /* padding-left: var(--space-l); */
    opacity: 0;
    transition: all 0.3s ease-out;
    overflow: hidden;
    color: var(--color-gray-700);
  }

  .accordion.active .accordion-content {
    max-height: 500px;
    opacity: 1;
    padding-bottom: var(--space-m);
  }

  .accordion.active .icon {
    transform: rotate(180deg);
  }

  .accordion:first-of-type {
    border-top: 1px dashed var(--color-gray-200);
  }

  .accordion:hover .title {
    color: var(--color-purple-600);
  }
  .accordion:hover .credits {
    color: var(--color-purple-600);
  }


</style>

<script>
  // Setup accordion functionality
  document.addEventListener('DOMContentLoaded', () => {
    const accordions = document.querySelectorAll('.accordion');
    
    accordions.forEach(accordion => {
      const header = accordion.querySelector('.accordion-header');
      
      header?.addEventListener('click', () => {
        accordion.classList.toggle('active');
      });
    });
  });
</script>
