---
import type { CurriculumSection as SectionType } from './data/curriculumData';
import CourseAccordion from './CourseAccordion.astro';

interface Props {
  section: SectionType;
}

const { section } = Astro.props;
---

<section>
  <div class="container">
    <div class="section-headline">
      <h2 class="headline-3xl">{section.title}</h2>
      <p class="body-md" set:html={section.intro} />
      <!-- <p class="subheader body-sm">{section.subheader}</p> -->
    </div>
    <div class="courses-list">
      {section.courses.map(course => (
        <CourseAccordion course={course} />
      ))}
    </div>
  </div>
</section>

<style>
  section {
    padding: 0 var(--space-s-m);
  }

  .container {
    max-width: 1824px;
    margin: 0 auto;
    padding: var(--space-3xl) 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: var(--space-2xl);
    align-items: start;
    border-top: 1px solid var(--color-gray-200);
  }

  .section-headline {
    position: sticky;
    top: 120px; /* Account for the header height plus some spacing */
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  .subheader {
    color: var(--color-gray-500);
  }

  .courses-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: var(--space-xl);
  }

  .courses-list :global(:last-child .accordion-wrapper) {
    border-bottom: none;
  }

  @media (max-width: 810px) {
    .container {
      grid-template-columns: 1fr;
      gap: var(--space-m);
    }

    .section-headline {
      position: relative;
      top: 0;
    }
  }
</style>