---

---

  <section class="intro-section">
    <div class="container">
      <span class="body-lg">Interaction Design Master</span>
      <h1 class="headline-5xl">Curriculum</h1>
    </div>
  </section>

  <style>
  .intro-section {
    padding: 0 var(--space-m-xl);
  }
  .container {
    max-width: 1824px;
    margin: 0 auto;
    padding: var(--space-5xl) 0 var(--space-s) 0;
    display: flex;
    gap: var(--space-2xs);
    flex-direction: column;
  }
</style>