---
import type { Subcategory } from './data/curriculum';
import CourseAccordion from './CourseAccordion.astro';

interface Props {
  subcategory: Subcategory;
}

const { subcategory } = Astro.props;
---

<div class="subcategory">
  <div class="subcategory-header">
    <div class="eyebrow body-xs">{subcategory.eyebrow}</div>
    <h3 class="headline-2xl">{subcategory.title}</h3>
    <p class="body-sm color-gray-700" set:html={subcategory.intro} />
  </div>
  <div class="courses-list">
    {subcategory.courses.map(course => (
      <CourseAccordion course={course} />
    ))}
  </div>
</div>

<style>
  .subcategory {
    padding-bottom: var(--space-4xl);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-l);
    align-items: start;
    /* border-top: 1px solid var(--color-gray-200); */
  }

  .subcategory:last-of-type {
    padding-bottom: 0;
  }

  .subcategory-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  .eyebrow {
    background-color: var(--color-purple-50);
    display: flex;
    align-items: center;
    color: var(--color-purple-600);
    padding-inline: var(--space-3xs);
    border-radius: 4px;
    height: 32px;
    width: fit-content;
  }

  .courses-list {
    display: flex;
    flex-direction: column;
  }

</style>
